/* ----- General ----- */
 
body {
    background-color: rgb(37, 29, 58);
    margin: 0px;
    overflow-x: hidden;
}

main {
    padding: 0px 2%;
    padding-left: 0%;
    width: 100%;
}

.inside_section {
    padding: 10px 4%;
}

.inside_section h1 {
    margin-top: 0px;
    padding-top: 0.67em;
}

html, a {
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    color: #dcdcdc;
    font-weight: 300;
}

a {
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    margin: 0px;
    font-weight: 500;
}

h3 {
    margin: 0px;
    font-size: 1.8rem;
    font-weight: 400;
    font-weight: 300;
}

h4 {
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 400;
    font-weight: 300;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.flash_alert {
    background-color: rgb(231, 171, 121);
}

/* ----- header ---- */

#header {
    font-size: 1.3em;
    text-align: left;
    padding-left: 2%;
}

/* ----- nav ----- */

nav {
    width: 100%;
    background-color: white;
}

nav ul {
    margin-bottom: 0px;
}

nav ul li {
    padding: 20px 2%;
    display: inline-block;
}

nav a {
    color: black;
}

nav a:hover {
    color: rgb(109, 85, 167);
}   

.nav_fake_button {
    border: 1px solid;
    border-radius: 6px;
    font-size: 1rem;;
    font-weight: 400;
    padding: 0.75rem 1rem;
    color: #fff;
    cursor: pointer;
}

#sign_up_button {
    background-color: rgb(179, 61, 90);
}

#sign_up_button:hover {
    color: rgb(210, 210, 210);
    background-color: rgb(150, 51, 76);
}

#login_button {
    background-color: rgb(118, 43, 84);
}

#login_button:hover {
    color: rgb(210, 210, 210);
    background-color: rgb(86, 32, 62);
}

#logout_li {
    padding: 0px 2%;
}

#logout {
    background-color: rgb(179, 61, 90);
    border: 1px solid;
    border-radius: 6px;
    font-size: 1rem;;
    font-weight: 400;
    padding: 10px 1rem!important;
    color: #fff;
    cursor: pointer;
}

#logout:hover {
    color: rgb(36, 36, 36);
}

/* ---- Footer ---- */

footer {
    padding: 20px 2%;
}

/* ---- Flash Alerts ---- */

.flash_alert {
    width: 90%;
    padding: 4px 2%;
    margin-bottom: 20px;
    background-color: rgb(252, 111, 111);
    line-height: 1.5em;
}

.flash_alert p {
    margin: 10px;
}

/* ---- First section ---- */

.first_section {
    width: 100%;
    background-color: rgb(233, 233, 224);
    background-position: 0px -2%;
}

.first_section {
    color: black;
}

.link_to_page1 {
    font-size: 1.125rem;
    font-weight: 300;
    color: black;
    border-bottom: solid black 1px;
}

.link_to_page1:hover {
    color: rgb(109, 85, 167);
    border-bottom: solid rgb(109, 85, 167) 1px;
}  

/* ---- Second section ---- */

.second_section {
    width: 100%;
    background-color: rgb(179, 61, 90);
    background-position: 0px -2%;
}

.second_section {
    color: white;
}

.link_to_page2 {
    font-size: 1.125rem;
    font-weight: 300;
    color: white;
    border-bottom: solid white 1px;
}

.link_to_page2:hover {
    color: black;
    border-bottom: solid black 1px;
}  

/* ---- Login/Signup Form ---- */

.session_form {
    min-width: 200px;
    width: 50%;
}

.session_form h1 {
    margin-bottom: 20px;
}

.session_form form input {
    width: 90%;
    padding: 5px 5px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 0.9em;
    font-weight: 200;
    height: 25px;
    border: none;
    background-color: transparent;
    border-bottom: solid black 1px;
    transition: ease-out 0.15s;
}

.session_form form input:hover {
    border-bottom: solid rgb(37, 29, 58) 3px;
    background-color: rgba(211, 211, 211, 0.252);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: ease-in 0.15s;
}

.session_form form input:focus {
    border-bottom: solid rgb(37, 29, 58) 3px;
    outline: none;
}

.session_form form label {
    width: 90%;
    padding: 5px 0px;
    display: inline-block;
}

#submit_button {
    background-color: white!important;
    border: black solid 1px;
    border-radius: 4px;
    height: 2em!important;
    width: 10%!important;
    margin-top: 10px;
    padding: 5px 0!important;
    border: 1px solid black!important;
}

#submit_button:hover {
    background-color: rgb(217, 217, 217)!important;
}

/* ---- Module Table ---- */

.mod-table ul li {
    display: block;
    list-style-type: none;
}

.mod-table ul li p {
    margin: 2px;
}

#index_mod_table .mod-table ul {
    padding-left: 0px!important;
}

.main_module {
    margin: 30px 2%;
    border: 0.5px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
}

.main_module ul li {
    padding: 10px 0px;
    list-style-type: none;
}

.main_module ul li h3 {
    padding-top: 10px;
    padding-bottom: 0px;
}

.main_module ul li h3 a{
    color: black;
}

.main_module ul li h3 a:hover{
    color: rgb(109, 85, 167);
}

.mod_module {
    padding: 10px 0px;
    margin: 30px 2%;
    border: 0.5px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
}

.mod_module ul li {
    list-style-type: none;
}

.mod_module ul li h3 {
    padding-top: 10px;
    padding-bottom: 0px;
}

.mod_module ul li h3 a{
    color: black;
}

.mod_module ul li h3 a:hover{
    color: rgb(109, 85, 167);
}

/* ---- Grade Table ---- */

.grade_table {
    margin: 20px;
}

.grade_table ul {
    list-style: none;
    padding-left: 0px;
}

.grade_table ul li {
    padding: 10px 0px;
    list-style-type: none;
}

.grade_table ul li p {
    margin: 2px;
}

.single_grade {
    margin: 0px 2%;
    margin-bottom: 30px;
    margin-left: 0px;
    border: 0.5px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
}

.single_grade ul {
    margin: 18px 2%;
}

.single_grade ul li {
    display: inline-block;
}

.single_grade ul li {
    list-style-type: none;
}

.single_grade ul li h3 {
    padding-top: 10px;
    padding-bottom: 0px;
}

.single_grade ul li h3 a{
    color: black;
}

.single_grade ul li h3 a:hover{
    color: rgb(109, 85, 167);
}

.single_grade .alignright {
    margin-right: 20px;
}

.single_grade .alignright li{
    margin-left: 20px;
}

/* ---- ModCod ---- */

/* ---- Popup Form ---- */

#blur_background {
    z-index: 999;
    backdrop-filter: blur(4px);
    background-color: #2f303d3a;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

#popup_form {
    z-index: 1000;
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px 5%;
    background-color: #DAEAF1;
    width: 50%;
    height: 60vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: black;
    box-shadow: 10px 10px 8px #888888;
}

#popup_form h1 {
    margin-bottom: 20px;
}

#popup_form form input {
    width: 90%;
    padding: 5px 5px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 0.9em;
    font-weight: 200;
    height: 25px;
    border: none;
    background-color: transparent;
    border-bottom: solid black 1px;
    transition: ease-out 0.15s;
}

#popup_form form input:hover {
    border-bottom: solid rgb(37, 29, 58) 3px;
    background-color: rgba(211, 211, 211, 0.252);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: ease-in 0.15s;
}

#popup_form form input:focus {
    border-bottom: solid rgb(37, 29, 58) 3px;
    outline: none;
}


#popup_form form label {
    width: 90%;
    padding: 5px 0px;
    display: inline-block;
}

#submit_button {
    background-color: white!important;
    border: black solid 1px;
    border-radius: 4px;
    height: 2em!important;
    width: 10%!important;
    margin-top: 10px;
    padding: 5px 0!important;
    border: 1px solid black!important;
}

#submit_button:hover {
    background-color: rgb(217, 217, 217)!important;
}

/* ---- Colours ---- */
/* Cream colour: rgb(233, 233, 224);