/* ----- General ----- */
 
body {
    background-color: rgb(37, 29, 58);
    margin: 0px;
}

main {
    padding: 0px 2%;
}

html, a {
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    color: #dcdcdc;
    font-weight: 300;
}

a {
    text-decoration: none;
    font-size: 1.2em;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.flash_alert {
    background-color: rgb(231, 171, 121);
}

/* ----- header ---- */

#header {
    font-size: 1.3em;
    text-align: left;
    padding-left: 2%;
}

/* ----- nav ----- */

nav {
    width: 100%;
    background-color: white;
}

nav ul li {
    padding: 15px 2%;
    display: inline-block;
}

nav a {
    color: black;
}

nav a:hover {
    color: rgb(109, 85, 167);
}   

.nav_fake_button {
    border: 1px solid;
    border-radius: 6px;
    font-size: 1rem;;
    font-weight: 400;
    padding: 0.65rem 1rem;
    color: #fff;
    cursor: pointer;
}

#sign_up_button {
    background-color: rgb(179, 61, 90);
}

#sign_up_button:hover {
    color: rgb(210, 210, 210);
    background-color: rgb(150, 51, 76);
}

#login_button {
    background-color: rgb(118, 43, 84);
}

#login_button:hover {
    color: rgb(210, 210, 210);
    background-color: rgb(86, 32, 62);
}

#logout {
    background-color: rgb(179, 61, 90);
    border: 1px solid;
    border-radius: 6px;
    font-size: 1rem;;
    font-weight: 400;
    padding: 0.75rem 1rem;
    color: #fff;
    cursor: pointer;
}

#logout:hover {
    color: rgb(36, 36, 36);
}

/* ---- Module table ---- */

.mod-table ul li {
    display: inline-block;
}